@-webkit-keyframes AnimationName {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes AnimationName {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
.roomItem{
    list-style: none;
    width: 300px;
    height: 60px;
    background-color: rgb(129, 109, 244);
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}
.loading_roomItem{
    list-style: none;
    width: 300px;
    height: 60px;
    /* background-color: rgb(219, 219, 219); */
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    background: linear-gradient(177deg, #e8e8e8, #d4d4d4);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 1.3s ease infinite;
    -moz-animation: AnimationName 1.3s ease infinite;
    animation: AnimationName 1.3s ease infinite;
}
.roomItem:hover{
    transform: translateY(-5px);
}
.roomItem .roomType{
    margin-top: 10px;
}

.gameItem{
    list-style: none;
    width: 300px;
    height: 60px;
    background: white;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(129, 109, 244);
    cursor: pointer;
    transition: 0.3s;
    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}
.gameItem:hover{
    transform: translateY(-5px);
}
.gameItem .gameDesc{
    margin-top: 10px;
}
