.roomItem{
    list-style: none;
    width: 300px;
    height: 60px;
    background-color: rgb(129, 109, 244);
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.roomItem:hover{
    transform: translateY(-5px);
}

.gameItem{
    list-style: none;
    width: 300px;
    height: 60px;
    background: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(129, 109, 244);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}