
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.counterList{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.button{
    padding: 10px;
    cursor: pointer;
    width: 100px;
    background: none;
    border: none;
    margin-top: 10px;
    font-weight: 700;
    color: rgb(129, 109, 244);
    transition: 0.3s;
}
.button:hover{
    background: rgb(129, 109, 244);
    color: white;
}

.editBox{
    margin-top: 150px;
}
.roomName{
    text-align: center;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: bold;
}
.roomName:focus{
    outline: none;
}